doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= subject
    
    include _style
  body
    .container
      block content
      .footer
        p Best regards,
        p Ondřej Polák
        p CEO, CloudyLake.io
        p ondrej.polak@cloudylake.io