extends baseEmail

block content 
    .header
    h1 Invitation to join Eclipse
    .content
    h1 Hello,
    p You have been invited to join Eclipse. Please click the button below to complete your registration.
    .button-container
    a.button(href=`${url}`) Complete your registration
