extends baseEmail

block content 
       .header
        h1 Welcome to Eclipse by CloudyLake.io
       .content
        p Dear #{firstName},
        p We are thrilled to have you on board! At CloudyLake.io, we are committed to providing you with the best service possible.
        p Our application, Eclipse, is designed to help you manage your tasks efficiently and effectively. We hope you find it useful and enjoyable.
        p If you have any questions or need assistance, please don't hesitate to reach out to our support team.
        .button-container
          a.button(href="https://eclipse.cloudylake.io") Visit Eclipse
        p Thank you for choosing Eclipse by CloudyLake.io. We look forward to helping you achieve your goals.